@charset "UTF-8";
@font-face {
  font-family: "segoe";
  src: url("../fonts/segoeui.ttf");
}
@font-face {
  font-family: "segoe_light";
  src: url("../fonts/segoeuil.ttf");
}
/*bleu*/
/*gris*/
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

h1 {
  font-family: "segoe";
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: "segoe_light";
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

h3 {
  font-family: "segoe";
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  margin: 20px 0px;
}

.whitedeco {
  margin-top: -30px;
}

.greydeco {
  margin-top: -30px;
}

/* ------------------------------------------------fin général ---------------------------------------------*/
/* ------------------------------------------------debut header ---------------------------------------------*/
#navbar {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  z-index: 100;
  position: fixed;
  color: white;
  min-height: 150px;
  padding-top: 39px;
}

.nav {
  flex-wrap: nowrap;
}

.nav-link.active,
.nav-link:active {
  border: solid 2px #4bcaff;
  border-radius: 0px;
  background-color: transparent;
  color: #4bcaff;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-menu.show {
  background-color: rgba(0, 0, 0, 0.5);
}

dropdown.item:hover {
  background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  color: #4bcaff;
}

.dropdown-item.show {
  font-family: "segoe";
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 2px #4bcaff;
  border-radius: 0px;
  color: #4bcaff;
  background-color: transparent;
}

.dropdown-item {
  color: white;
  font-family: "segoe";
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.5s ease;
  background-color: transparent;
}

.nav-link {
  color: white;
  font-family: "segoe";
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.5s ease;
  background-color: transparent;
  border: solid 2px transparent;
}

.nav-link:hover {
  border: solid 2px #4bcaff;
  background-color: transparent;
  color: #4bcaff;
}

header {
  background-image: url("../images/photo_wheat.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}

#e {
  color: #4bcaff;
}

.flex-container {
  display: flex;
  /* contexte sur le parent */
  flex-direction: column;
  /* direction d'affichage verticale */
  justify-content: center;
  /* alignement vertical */
  text-align: center;
  margin-top: 330px;
}

.slogan {
  display: inline;
  font-family: "segoe_light";
  color: white;
  font-size: 42px;
  align-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
}

#navbarSupportedContent {
  display: flex;
  justify-content: flex-end;
}

/* ------------------------------------------------fin header ---------------------------------------------*/
/* ------------------------------------------------debut services ---------------------------------------------*/
#services {
  background-color: #4bcaff;
  padding: 70px 0px;
  min-height: 410px;
}

#services p {
  color: white;
  font-family: "segoe";
  font-weight: 600;
  font-size: 12px;
}

/* ------------------------------------------------ fin services ---------------------------------------------*/
/* ------------------------------------------------debut portfolio ---------------------------------------------*/
.filterDiv {
  float: left;
  text-align: center;
  display: none;
}

.show {
  display: block;
}

.container {
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  padding: 12px 16px;
  background-color: transparent;
  cursor: pointer;
  color: #515f67;
  font-family: "segoe";
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  transition: ease;
  background-color: transparent;
}

.btn:hover {
  background-color: transparent;
  border: 2px #4bcaff solid;
  border-radius: 0px;
  color: #4bcaff;
}

.btn.active {
  background-color: transparent;
  border: 2px #4bcaff solid;
  border-radius: 0px;
  color: #4bcaff;
  display: inline;
}

.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
  border: 2px #4bcaff solid;
  color: #4bcaff;
}

#portfolio {
  background-color: white;
  color: #515f67;
  padding: 70px 0px;
  min-height: 840px;
}

#portfolio h2 {
  color: #515f67;
}

.image {
  display: inline;
  margin-top: 20px;
  margin-right: -10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 93%;
  width: 104%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.conteneur {
  position: relative;
}

.conteneur:hover .overlay {
  opacity: 1;
}

.plus {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}

/* ------------------------------------------------fin portfolio ---------------------------------------------*/
/* ------------------------------------------------debut default ---------------------------------------------*/
#default {
  padding: 70px 0px;
  min-height: 470px;
  background-color: #515f67;
}

#default p {
  color: white;
}

#buttonvisitme {
  font-family: "segoe";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  background-color: transparent;
  border: solid 1px black;
  padding: 10px 30px;
  margin-top: 20px;
  text-decoration: none;
}

#buttonvisitme a {
  color: black;
}

#buttonvisitme a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: -15%;
  margin-left: 10%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------ fin default ---------------------------------------------*/
/* ------------------------------------------------debut twitter ---------------------------------------------*/
#twitter {
  background-color: #4bcaff;
  color: white;
  padding: 70px 0px;
  min-height: 300px;
}

#twitter p {
  font-family: "segoe";
  font-weight: 100;
  font-size: 28px;
}

#cheesecake {
  font-weight: bold;
}

#icontwit {
  font-size: 30px;
}

/* ------------------------------------------------fin twitter ---------------------------------------------*/
/* ------------------------------------------------debut john doe ---------------------------------------------*/
#johndoe {
  background-image: url(../images/john_doe.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 70px 0px;
  min-height: 500px;
}

#johndoe i {
  border: solid 1px;
  padding: 20px;
  font-size: 20px;
  margin: 0px 5px;
  width: 65px;
  height: 65px;
}

#johndoe p {
  padding-bottom: 10px;
}

/* ------------------------------------------------fin john doe ---------------------------------------------*/
/* ------------------------------------------------debut testimonials ---------------------------------------------*/
#testimonials {
  background-color: white;
  color: #515f67;
  padding: 70px 0px;
  min-height: 360px;
}

#quotesign {
  font-family: "Bitter";
  font-size: 72px;
}

#testimonials h2 {
  color: #515f67;
}

#testimonials p {
  font-family: "segoe";
  font-weight: 100;
  font-size: 28px;
}

#quoter {
  font-family: "segoe";
  font-weight: bold;
  font-size: 14px;
  color: #4bcaff;
}

/* ------------------------------------------------fin testimonials ---------------------------------------------*/
/* ------------------------------------------------debut contact ---------------------------------------------*/
#contact {
  background-image: url(../images/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 70px 0px;
  min-height: 810px;
}

#contact label {
  font-family: "segoe";
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
}

#contact input {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid white;
  width: 100%;
  padding: 10px;
}

#email {
  margin-bottom: 20px;
}

textarea {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid white;
  width: 100%;
  padding: 10px;
}

#contact p {
  font-family: "segoe";
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
}

#contact li {
  list-style-type: none;
  font-family: "segoe";
  font-weight: 600;
  font-size: 14px;
}

#buttonmsg {
  width: 350px;
  font-family: "segoe";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #4bcaff;
  border: none;
  padding: 20px 30px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#contact ul {
  margin-left: -40px;
}

/* ------------------------------------------------fin contact ---------------------------------------------*/
/* ------------------------------------------------debut footer ---------------------------------------------*/
footer {
  background-color: #353f47;
  min-height: 170px;
  color: white;
  text-transform: uppercase;
  font-family: "segoe";
  font-weight: 600;
  font-size: 12px;
  padding-top: 80px;
  opacity: 0.5;
  padding-left: -40px;
}

footer li {
  list-style-type: none;
  display: inline;
  color: white;
  font-family: "segoe";
  font-weight: 600;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

footer a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

footer a:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

footer ul {
  margin-left: -50px;
}

/* ------------------------------------------------fin footer ---------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 425px) {
  h3 {
    font-size: 18px;
  }

  .conteneur {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
